/* src/assets/css/custom.css */


[tp-theme="tp-theme-dark"] .porfolio-inner__overlay::after {
  background: radial-gradient(100% 1330.1% at 0% 52.65%,
      #213617 0%,
      rgba(33, 54, 23, 0.77) 52.08%,
      #213617 100%) !important;
}

[tp-theme="tp-theme-dark"] .theme-bg-2.tp-offcanvas-bg,
[tp-theme="tp-theme-dark"] .tp-offcanvas-update-bg-2 .tp-offcanvas-bg {
  background-color: #213617 !important;
}